$black: rgb(0,0,0);
$mintcream: rgb(245,255,240);
$lightgray: rgb(211, 211, 211);
$darkgray: rgb(169, 169, 169);
$saddlebrown: rgb(139, 69, 19);
$blueviolet: rgb(138, 43, 226);
$lightslategray: rgb(119,136,153);
$silver: rgb(192, 192, 192);


$bp-sm:576px;
$bp-md:768px;
$bp-lg:992px;
$bp-xl:1200px;